.container {
  margin: 0 auto;
  width: 1280px;
  padding: 0 15px;
}

*{
    font-family: "Inter Tight", sans-serif;
}

*::before,
*::after {
  box-sizing: border-box;
}


/* header css baslangıc */
/*furkan*/
/* header css bitis */


/* hero css baslangıc */
/*furkan*/
/* hero css bitis */


/* how_is_work css baslangıc */
/*atahan*/
/* how_is_work css bitis */


/* advertisement css baslangıc */
/*melis*/
/* advertisement css bitis */


/* vegetables css baslangıc */
/*atahan*/
/* vegetables css bitis */


/* reviews css baslangıc */
/*melis*/
/* reviews css bitis */


/* your_order css baslangıc */
/*musab*/
/* your_order css bitis */


/* footer css baslangıc */
/*musab*/
/* footer css bitis */