<!--Furkan_baslangic-->

<header>

    <div class="container">
        <a class="logo_header" href="../index.html">
            
            <svg class="logo_header_icon" >
                <use xlink:href="../images/symbol-defs.svg#icon-logo" ></use>
            </svg>
            GREEN.HARVEST           
        </a>
       
        <nav>
            <ul class="navlist">

                <li>
                    <button>How It Works</button>
                </li>

                <li>
                    <button>Vegetables</button>
                </li>

                <li>
                    <button>Reviews</button>
                </li>

            </ul>

            <button class="b_shop">SHOP NOW</button>
        </nav>

    </div>

</header>

<!--Furkan_bitiris-->