<link rel="stylesheet" href="../css/hero.css" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap"
  rel="stylesheet">

<!--Furkan_baslangic-->
<section class="hero">
  <div class="container">
    <div class="hero_text_mother">
      <div class="hero_text">
        <h1>organic vegetables to your diet today!</h1>
        <p>
          Our expertly curated vegetable baskets are made with the freshest,
          highest quality vegetables available. Fresh Harvest Box has got you
          covered. Fresh, high-quality vegetables in expertly curated vegetable
          baskets delivered to you.
        </p>
      </div>
      <div class="hero_img">
        <img srcset="../images/sepet.jpg 1x, ../images/sepet@2.jpg 2x" src="../images/sepet.jpg" width="640"
          height="796" alt="Team member Mark Guerrero" />
      </div>
    </div>
  </div>
</section>
<!--Furkan_bitiris-->